boto==2.49.0
boto3==1.34.4
botocore==1.34.4
capstone==5.0.1
certifi==2023.11.17
charset-normalizer==3.3.2
contourpy==1.2.0
crypto==1.4.1
cycler==0.12.1
ExifRead==3.0.0
fonttools==4.47.0
idna==3.6
jmespath==1.0.1
kiwisolver==1.4.5
matplotlib==3.8.2
Naked==0.1.32
numpy==1.26.2
packaging==23.2
pandas==2.1.4
pefile==2023.2.7
Pillow==10.1.0
psutil==5.9.7
pycryptodome==3.19.0
pygraphviz==1.11
pyparsing==3.1.1
PyPDF2==3.0.1
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
PySide2==5.13.2
python-dateutil==2.8.2
python-magic==0.4.27
pytsk3==20231007
pytz==2023.3.post1
PyYAML==6.0.1
requests==2.31.0
s3transfer==0.9.0
shellescape==3.8.1
shiboken2==5.13.2
six==1.16.0
tzdata==2023.3
urllib3==2.0.7
volatility3==2.5.0
